/* Colors */
$white: #FFF;
$black: #000;
$pink: #DD4D93;
$grey: #999;
$light-grey: #F5F5F5;
$light-background: rgba(221, 77, 147, 0.1);

/* Fonts */
$font-family-title: 'Raleway', Arial, sans-serif;
$font-family-text: 'Roboto', Arial, sans-serif;

/* Style */
$default-box-shadow: 0 0 1rem -0.6rem $black;
